h1{
  text-align: center;
  background-color:red;
  color:white;
}
h2{
  text-align: center;
  background-color: white;
  color:black;
}
.azul{
  color:blue;

}
.rojo{
  color:red;
}
footer{
  text-align:center;
}
.ff{
  
}
.dd{

}
