header, main, footer {
  overflow: hidden;
}

h1 {
  color: white;
  background-color: black;
  width: 100%;
  padding: 20px;
  margin: 0;
  margin-bottom: 1px;
}
.caja {
color: white;
background-color: black;
float: left;
width: 19.8%;
text-align: center;
padding-bottom: 10%
padding: 20px;
height: 50px;
margin:1px;
}


.Home{
  color: white;
  background-color: black;
  height: 30px;
  text-align: center;
  width: 90px;

}

.menu{
  color: white;
  background-color: black;
  text-align: center;
  width: 18%;
  margin: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
}

a {
  color: white;
  text-decoration: none;
}

.caja1{
  background-color: white;
  width: 57%;
  margin-bottom: 10px;
  height: 50%;
  margin-top: 10px;
  border: 3px solid black;
  float: left;
}

.caja1 img{
    width: 98%;
    padding-left: 10px;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: -3px;

}

.caja2{
  background-color: white;
  width: 41%;
  height: 250px;
  margin-top: 10px;
  border: 3px solid black;
  float: right;
  text-align: center;
}

.caja2 img{
  width: 97%;
  height: 100%;
  padding-left: 10px;
  margin-right: 5px;
  margin-left: -3px;
}

.caja3{
  background-color: white;
  width: 41%;
  height: 250px;
  margin-top: 10px;
  border: 3px solid black;
  float: right;
  text-align: center;
}

.caja3 img{
  width: 97%;
  height: 100%;
  padding-left: 10px;
  margin-right: 5px;
  margin-left: -3px;
}

.caja4{
  background-color: white;
  width: 41%;
  height: 220px;
  margin-top: 10px;
  border: 3px solid black;
  float: right;
  text-align: center;
  margin-bottom: 10px;
}

.caja4 img{
  width: 97%;
  height: 100%;
  padding-left: 10px;
  margin-right: 5px;
  margin-left: -3px;
}

footer .redes {
  width: 30px;
  margin-right: 5px;
}

footer p {
  display: inline;
}

footer{
  background-color:black;
  color: white;
  text-align: center;
  overflow: hidden;
  width:100%;

}

footer img{
  height: 30px;
}
